#%RAML 1.0
---

title: Customs Notification Push Retry
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/xml

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
  - title: Testing
    content: !include docs/testing.md

/customs/notifications:
  /blocked-count:
    get:
      displayName: Get count of push notifications blocked from retrying
      description: Obtains count of blocked pushed notifications.
      headers:
        Accept:
          description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
                       Download [schemas and example messages](/api-documentation/docs/api/download/customs-notification-push-retry/1.0/customs-notification-push-retry-schemas.zip).
          type: string
          required: true
          example: application/vnd.hmrc.1.0+xml
      securedBy: [ sec.x-application ]
      responses:
        200:
          body:
            application/xml:
              example: |
                <?xml version="1.0" encoding="UTF-8"?>
                <pushNotificationBlockedCount>999</pushNotificationBlockedCount>
        500:
          body:
            application/xml:
              description: Internal server error
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <errorResponse>
                      <code>INTERNAL_SERVER_ERROR</code>
                      <message>Internal server error</message>
                  </errorResponse>

  /blocked-flag:
    delete:
      displayName: Remove blocked flag from push notifications
      description: Enables push notifications blocked following retry failure to be released for next retry
      headers:
        Accept:
          description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
          type: string
          required: true
          example: application/vnd.hmrc.1.0+xml
      securedBy: [ sec.x-application ]
      responses:
        204:
        404:
          body:
           application/xml:
             description: Invalid XML Payload
             example: |
                    <?xml version="1.0" encoding="UTF-8"?>
                        <errorResponse>
                            <code>NOT_FOUND</code>
                            <message>Resource was not found</message>
                        <errorResponse>
        500:
          body:
            application/xml:
              description: Internal server error
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                          <code>INTERNAL_SERVER_ERROR</code>
                          <message>Internal server error</message>
                      </errorResponse>
